/*
 *  print view:
*/

div.noprint {
  display:block;
}
div.onlyprint {
  display:none;
}
@media print {
  div.onlyprint {
    display:block !important;
  }
  div.noprint {
    display:none !important;
  }
}

/*
 *  global defaults:
*/


body {
  padding:0ex !important;
  margin:0ex !important;
  color:#000000;
  background:#ffffff;
  font-family:verdana,arial,sans-serif;
}
img {
  border-style:none;
}

/* sane defaults for all tables: */
table, tr, td, th, .table, .tr, .td, .th {
  border-collapse:collapse !important;
  empty-cells:show !important;
  border-spacing:0px;
  vertical-align:top;
}

/*
 * fake tables
*/

.tr {
  display:table-row !important;
}
.td {
  display:table-cell !important;
}
/* .th is not a structural role, just a modified style for .td */
.table {
  display:table !important;
}
.thead {
  display:table-header-group !important;
}
.tfoot {
  display:table-footer-group !important;
}
.tbody {
  display:table-row-group !important;
}
.caption {
  display:table-caption !important;
}

th, .th {
  font-weight:bold;
}

/*
 * generic classes
 *
 * - css precedence rules are screwed: direkt formatting should always
 *   take priority over derived formatting, so we need !important here:
 */

.tinyskips {
  margin-top:0.5ex !important;
  margin-bottom:0.5ex !important;
}

.smallskipt {
  margin-top:0.5em !important;
}
.smallskipb {
  margin-bottom:0.5em !important;
}
.smallskips {
  margin-top:0.5em !important;
  margin-bottom:0.5em !important;
}

.medskipt {
  margin-top:1em !important;
}
.medskipb {
  margin-bottom:1em !important;
}
.medskips {
  margin-top:1em !important;
  margin-bottom:1em !important;
}

.bigskipt {
  margin-top:2em !important;
}
.bigskipb {
  margin-bottom:2em !important;
}
.bigskips {
  margin-top:2em !important;
  margin-bottom:2em !important;
}

.quadl {
  margin-left:1ex !important;
}
.quadr {
  margin-right:1ex !important;
}
.quads {
  margin-left:1ex !important;
  margin-right:1ex !important;
}
.qquadl {
  margin-left:2ex !important;
}
.qquadr {
  margin-right:2ex !important;
}
.qquads {
  margin-left:2ex !important;
  margin-right:2ex !important;
}

.qqquadr {
  margin-right:2em !important;
}


/* same with padding: there cannot be margins on td or .td so we need padding instead in that case: */

.tinypads {
  padding-top:0.5ex !important;
  padding-bottom:0.5ex !important;
}

.smallpadt {
  padding-top:0.5em !important;
}
.smallpadb {
  padding-bottom:0.5em !important;
}
.smallpads {
  padding-top:0.5em !important;
  padding-bottom:0.5em !important;
}
.medpadt {
  padding-top:1em !important;
}
.medpadb {
  padding-bottom:1em !important;
}
.medpads {
  padding-top:1em !important;
  padding-bottom:1em !important;
}

.bigpadt {
  padding-top:2em !important;
}
.bigpadb {
  padding-bottom:2em !important;
}
.bigpads {
  padding-top:2em !important;
  padding-bottom:2em !important;
}

.qpadl {
  padding-left:1ex !important;
}
.qpadr {
  padding-right:1ex !important;
}
.qpads {
  padding-left:1ex !important;
  padding-right:1ex !important;
}
.qqpadl {
  padding-left:2ex !important;
}
.qqpadr {
  padding-right:2ex !important;
}
.qqpads {
  padding-left:2ex !important;
  padding-right:2ex !important;
}


.right        { text-align:right !important; }
.floatright   { float:right; }
.left         { text-align:left !important; }
.floatleft    { float:left; }
.clear        { clear:both; }
.center       { text-align:center !important; }
.top          { vertical-align:top !important; }
.bottom       { vertical-align:bottom !important; }
.vcenter      { vertical-align:middle !important; }
.block        { display:block !important; }
.inline_block { display:inline-block; }

.bold         { font-weight:bold !important; }
.italic       { font-style:italic !important; }
.underline    { text-decoration:underline !important; }
.nounderline  { text-decoration:none !important; }

.oneline { white-space:nowrap !important; }
.hfill   { width:100%; }

.tt { font-family:monospace; }
.rm { font-family:roman; }

.smaller  { font-size:smaller; }
.smallerr { font-size:smaller !important; }
.larger  { font-size:larger; }
.largerr { font-size:larger !important; }

.black  { color:#000000; }
.blackk { color:#000000 !important; }
.dgreen  { color:#008800; }
.dgreenn { color:#008800 !important; }
.green  { color:#00ff00; }
.greenn { color:#00ff00 !important; }
.yellow { color:#ffd800; }
.yelloww{ color:#ffd800 !important; }
.red    { color:#ff0000; }
.redd   { color:#ff0000 !important; }
.dblue   { color:#000088; }
.dbluee  { color:#000088 !important; }
.blue   { color:#0000ff; }
.bluee  { color:#0000ff !important; }

.grey { color:#444444; }

.nodisplay, .nodisplay * { display:none !important; }
.phantom, .phantom *  { visibility:hidden !important; }


/* border classes: force individual cell borders (for tricky cases): */

.solid, .tr.solid > .td {
  border:1px solid !important;
}
.solidtop, .tr.solidtop > .td {
  border-top:1px solid !important;
}
.solidbottom, .tr.solidbottom > .td {
  border-bottom:1px solid !important;
}
.solidright {
  border-right:1px solid !important;
}
.solidleft {
  border-left:1px solid !important;
}
.noleft {
  border-left:none !important;
}
.noright {
  border-right:none !important;
}
.notop {
  border-top:none !important;
}
.nobottom {
  border-bottom:none !important;
}

.dotted {
  border:1px dotted !important;
}
.dottedtop {
  border-top:1px dotted !important;
}
.dottedbottom {
  border-bottom:1px dotted !important;
}
.dottedright {
  border-right:1px dotted !important;
}
.dottedleft {
  border-left:1px dotted !important;
}


/*
 *
 * links and icons
 *
*/

/* ordinary hyperlinks */

a, .href {
  color:#<?php echo $css_link_color ?>;
  text-decoration:none;
}
a:hover, .href:hover {
  color:#<?php echo $css_link_color ?>;
  text-decoration:underline;
}
.href + .href {
  margin-left:1ex;
}
.href {
  min-width:2em;
  display:inline-block;
}

/* generic buttons */


.icon, .button, .fant, .file, .outlink, .leftarrow, .rightarrow, .edit {
  background-repeat:no-repeat;
  background-position:0px 0px;
  white-space:nowrap !important;
  display:inline-block; /* needed to make min-height actually work */
  vertical-align:bottom;
  border-style:none;
}

.button, .button:visited {
  margin:1px 0.8em 1px 0.8em;
  padding:0px 0.4ex 1px 0.4ex;
  outline:1px solid #a0a0a0;
  text-decoration:none;
  color:#<?php echo $css_button_foreground ?>;
  background-color:#<?php echo $css_button_background ?>;
}

a.button:hover, a.icon:hover {
  outline:2px outset #a0a0a0;
  text-decoration:none;
  color:#<?php echo $css_button_foreground ?>;
  background-color:#<?php echo $css_button_hover_background ?>;
}
a.button:active, a.icon:active, .button.pressed, .icon.pressed, a.button.pressed:hover, a.icon.pressed:hover {
  outline:2px inset #a0a0a0;
}

.button.big {
  margin:2px 1em 2px 1em;
  padding:0.1ex 1ex 0.1ex 1ex;
  width:180px;
  height:20px;
  line-height:20px;
  text-align:center !important;
  vertical-align:middle !important;
}
.button.tight {
  padding:0ex 2px 0px 2px;
  margin:1px 0.4ex 1px 0.4ex;
}
.button.inactive {
  color:#666666;
  background-color:#cccccc;
}
.button.inactive:hover, .button.inactive:active {
  color:#888888;
  background-color:#cccccc;
  outline:1px solid #a0a0a0;
}


.href.leftarrow, .href.rightarrow {
  background-position:0px 5px;
  padding-left:11px;
}
.href.rightarrow {
  background-image:url(../../code/img/il.gif);
}
.href.rightarrow:hover {
  background-image:url(../../code/img/il.over.gif);
}
.href.leftarrow{
  background-image:url(../../code/img/ol.gif);
}
.href.leftarrow:hover {
  background-image:url(../../code/img/ol.over.gif);
}



.drop {
  background-image:url(../../code/img/b_drop.png);
  padding-left:18px;
  min-height:16px;
}
.drop.button {
  padding-left:22px;
  background-position:4px 2px;
}
.drop.icon {
  padding-left:0px;
  background-position:4px 2px;
  min-height:20px;
  min-width:20px;
}

.lock {
  background-image:url(../../code/img/lock.trans.gif);
  padding-left:24px;
  min-height:15px;
}
.lock.button {
  background-position:4px 2px;
  padding-left:28px;
}
.lock.icon {
  background-position:4px 2px;
  min-height:18px;
  min-width:30px;
  padding:0px;
}

.edit {
  background-image:url(../../code/img/b_edit.png);
  padding-left:19px;
  min-height:17px;
}
.edit.button {
  background-position:4px 1px;
  padding-left:22px;
}
.edit.icon {
  background-position:4px 2px;
  min-height:20;
  min-width:24;
  padding:0px;
}

/* .record {
 *   background-image:url(../../code/img/card.png);
 *   padding-left:18px;
 *   min-height:16px;
 * }
 * .browse    { background-image:url(../../code/img/b_browse.png); }
 * .cash      { background-image:url(../../code/img/euro.small.blue.trans.gif); }
 * .people    { background-image:url(../../code/img/people.blue.trans.gif); }
 * .chart     { background-image:url(../../code/img/chart.png); }
 * .question  { background-image:url(../../code/img/question_small.png); }
 * .brokenlink { padding:0px 6px 0px 6px; }
*/

.uparrow   {
  background-image:url(../../code/img/sort.up.trans.gif);
}
.downarrow {
  background-image:url(../../code/img/sort.down.trans.gif);
}
.uparrow.button, .downarrow.button {
  background-position:4px 4px;
  padding-left:16px;
  min-height:8px;
  min-width:10px;
}
.uparrow.icon, .downarrow.icon {
  padding:0px;
  background-position:5px 5px;
  min-height:20px;
  min-width:20px;
}

.plus {
  background-image:url(../../code/img/plus.small.blue.trans.gif);
}
.equal {
  background-image:url(../../code/img/equal.small.blue.trans.gif);
}
.plus.button, .equal.button {
  padding-left:22px;
  background-position:4px 3px;
  min-height:16px;
  min-width:16px;
}
.plus.icon, .equal.icon {
  padding:0px;
  background-position:4px 4px;
  min-height:20px;
  min-width:20px;
}

.fant {
  background-image:url(../../code/img/fant.trans.gif);
  padding-left:34px;
  min-height:20px;
}
a.fant:hover {
  background-image:url(../../code/img/fant.over.trans.gif);
}

.file {
  background-image:url(../../code/img/file.<?php echo $css_link_color; ?>.trans.gif);
  padding-left:15px;
  min-height:15px; /* needed with small fonts */
}
a.file:hover {
  background-image:url(../../code/img/file.<?php echo $css_link_color; ?>.over.trans.gif);
}

.close {
  background-image:url(../../code/img/close.small.<?php echo $css_link_color; ?>.trans.gif);
}
a.close:hover {
  background-image:url(../../code/img/close.small.<?php echo $css_link_color; ?>.over.trans.gif);
}
.close.icon {
  min-width:12px;
  min-height:12px;
  padding:0px;
  background-position:0px 0px;
}


.outlink {
  padding-right:16px;
  background-position:right;
  background-image:url(../../code/img/outlink.<?php echo $css_link_color; ?>.trans.gif);
  /* min-height:15px; /* needed with small fonts */
}
a.outlink:hover {
  background-image:url(../../code/img/outlink.<?php echo $css_link_color; ?>.over.trans.gif);
}



/* small buttons, to be used in page head */

a.icon.head {
  min-width:15px;
  min-height:15px;
  padding:0px;
  margin:4px;
  background-position:0px 0px;
}
a.icon.head.fork {
  background-image:url(../../code/img/fork_black.gif);
}
a.icon.head.close {
  background-image:url(../../code/img/close_black.gif);
}
a.icon.head.reload {
  background-image:url(../../code/img/reload_black.gif);
}
a.icon.head.print {
  background-image:url(../../code/img/print_black.gif);
}
a.icon.head.home {
  background-image:url(../../code/img/home_black.gif);
}

.open {
  background-image:url(../../code/img/open_black.gif);
  background-repeat:no-repeat;
  background-position:0px 0px;
  /* padding:0px 0px 0px 15px; */
  padding-left:15px;
  min-width:15px;
}

a.button.head {
  background-color:#<?php echo $css_button_head_background ?>;
  margin:4px 8px 4px 8px;
  padding:0px 2px 0px 2px;
}

a.wikilink, ul#menu li a.wikilink {
  padding:2px 1ex 2px 2em;
  background-color:white;
  color:#e01010;
  background-image:url(../../code/img/gluehbirne_15x16.png);
  background-repeat:no-repeat;
  background-position:5px;
  text-decoration:none;
}
a.wikilink:hover, ul#menu li a.wikilink:hover {
  background-image:url(../../code/img/birne_rot.png);
  text-decoration:underline;
}

legend > a.close {
  padding-left:20px;
}
