/*
 *  print view:
*/

div.noprint {
  display:block;
}
div.onlyprint {
  display:none;
}
@media print {
  div.onlyprint {
    display:block !important;
  }
  div.noprint {
    display:none !important;
  }
}

/*
 *  global defaults:
*/


body {
  padding:0ex !important;
  margin:0ex !important;
  color:#000000;
  background:#ffffff;
  font-family:verdana,arial,sans-serif;
}
img {
  border-style:none;
}

/* sane defaults for all tables: */
table, tr, td, th, .table, .tr, .td, .th {
  border-collapse:collapse !important;
  empty-cells:show !important;
  border-spacing:0px;
  vertical-align:top;
}

/*
 * fake tables
*/

.tr {
  display:table-row !important;
}
.td {
  display:table-cell !important;
}
/* .th is not a structural role, just a modified style for .td */
.table {
  display:table !important;
}
.thead {
  display:table-header-group !important;
}
.tfoot {
  display:table-footer-group !important;
}
.tbody {
  display:table-row-group !important;
}
.caption {
  display:table-caption !important;
}

th, .th {
  font-weight:bold;
}

/*
 * generic classes
 *
 * - css precedence rules are screwed: direkt formatting should always
 *   take priority over derived formatting, so we need !important here:
 */

.tinyskips {
  margin-top:0.5ex !important;
  margin-bottom:0.5ex !important;
}

.smallskipt {
  margin-top:0.5em !important;
}
.smallskipb {
  margin-bottom:0.5em !important;
}
.smallskips {
  margin-top:0.5em !important;
  margin-bottom:0.5em !important;
}

.medskipt {
  margin-top:1em !important;
}
.medskipb {
  margin-bottom:1em !important;
}
.medskips {
  margin-top:1em !important;
  margin-bottom:1em !important;
}

.bigskipt {
  margin-top:2em !important;
}
.bigskipb {
  margin-bottom:2em !important;
}
.bigskips {
  margin-top:2em !important;
  margin-bottom:2em !important;
}

.quadl {
  margin-left:1ex !important;
}
.quadr {
  margin-right:1ex !important;
}
.quads {
  margin-left:1ex !important;
  margin-right:1ex !important;
}
.qquadl {
  margin-left:2ex !important;
}
.qquadr {
  margin-right:2ex !important;
}
.qquads {
  margin-left:2ex !important;
  margin-right:2ex !important;
}

.qqquadr {
  margin-right:2em !important;
}


/* same with padding: there cannot be margins on td or .td so we need padding instead in that case: */

.tinypads {
  padding-top:0.5ex !important;
  padding-bottom:0.5ex !important;
}

.smallpadt {
  padding-top:0.5em !important;
}
.smallpadb {
  padding-bottom:0.5em !important;
}
.smallpads {
  padding-top:0.5em !important;
  padding-bottom:0.5em !important;
}
.medpadt {
  padding-top:1em !important;
}
.medpadb {
  padding-bottom:1em !important;
}
.medpads {
  padding-top:1em !important;
  padding-bottom:1em !important;
}

.bigpadt {
  padding-top:2em !important;
}
.bigpadb {
  padding-bottom:2em !important;
}
.bigpads {
  padding-top:2em !important;
  padding-bottom:2em !important;
}

.qpadl {
  padding-left:1ex !important;
}
.qpadr {
  padding-right:1ex !important;
}
.qpads {
  padding-left:1ex !important;
  padding-right:1ex !important;
}
.qqpadl {
  padding-left:2ex !important;
}
.qqpadr {
  padding-right:2ex !important;
}
.qqpads {
  padding-left:2ex !important;
  padding-right:2ex !important;
}


.right        { text-align:right !important; }
.floatright   { float:right; }
.left         { text-align:left !important; }
.floatleft    { float:left; }
.clear        { clear:both; }
.center       { text-align:center !important; }
.top          { vertical-align:top !important; }
.bottom       { vertical-align:bottom !important; }
.vcenter      { vertical-align:middle !important; }
.block        { display:block !important; }
.inline_block { display:inline-block; }

.bold         { font-weight:bold !important; }
.italic       { font-style:italic !important; }
.underline    { text-decoration:underline !important; }
.nounderline  { text-decoration:none !important; }

.oneline { white-space:nowrap !important; }
.hfill   { width:100%; }

.tt { font-family:monospace; }
.rm { font-family:roman; }

.smaller  { font-size:smaller; }
.smallerr { font-size:smaller !important; }
.larger  { font-size:larger; }
.largerr { font-size:larger !important; }

.black  { color:#000000; }
.blackk { color:#000000 !important; }
.dgreen  { color:#008800; }
.dgreenn { color:#008800 !important; }
.green  { color:#00ff00; }
.greenn { color:#00ff00 !important; }
.yellow { color:#ffd800; }
.yelloww{ color:#ffd800 !important; }
.red    { color:#ff0000; }
.redd   { color:#ff0000 !important; }
.dblue   { color:#000088; }
.dbluee  { color:#000088 !important; }
.blue   { color:#0000ff; }
.bluee  { color:#0000ff !important; }

.grey { color:#444444; }

.nodisplay, .nodisplay * { display:none !important; }
.phantom, .phantom *  { visibility:hidden !important; }


/* border classes: force individual cell borders (for tricky cases): */

.solid, .tr.solid > .td {
  border:1px solid !important;
}
.solidtop, .tr.solidtop > .td {
  border-top:1px solid !important;
}
.solidbottom, .tr.solidbottom > .td {
  border-bottom:1px solid !important;
}
.solidright {
  border-right:1px solid !important;
}
.solidleft {
  border-left:1px solid !important;
}
.noleft {
  border-left:none !important;
}
.noright {
  border-right:none !important;
}
.notop {
  border-top:none !important;
}
.nobottom {
  border-bottom:none !important;
}

.dotted {
  border:1px dotted !important;
}
.dottedtop {
  border-top:1px dotted !important;
}
.dottedbottom {
  border-bottom:1px dotted !important;
}
.dottedright {
  border-right:1px dotted !important;
}
.dottedleft {
  border-left:1px dotted !important;
}

/* links and icons
 *
 * we define two classes of links:
 * - .href: for hyperlinks to different content
 * - 

*/



.drop, .lock, .edit, .record, .browse, .people, .cash, .chart, .fant, .question, .uparrow, .downarrow, .plus, .equal, .file {
  background-repeat:no-repeat;
  background-position:0px 0px;
  white-space:nowrap !important;
  display:inline-block; /* needed to make min-height actually work */
  vertical-align:bottom;
}

.butt {
  outline:1px solid #a0a0a0;
  background-position:2px 0px;
  padding:2px 4px 2px 4px;
}
a.butt:hover, a.icon:hover {
  /* opacity:0.9; */
  background-color:#ddddff;
  outline:2px outset #a0a0a0;
  text-decoration:none;
}
a.butt:active, a.icon:active {
  outline:2px inset #a0a0a0;
}

.drop {
  background-image:url(../../code/img/b_drop.png);
  padding-left:18px;
  min-height:16px;
}
.drop.butt {
  padding-left:22px;
  background-position:4px 2px;
}
.drop.icon {
  padding-left:0px;
  background-position:4px 2px;
  min-height:20px;
  min-width:20px;
}

.lock {
  background-image:url(../../code/img/lock.trans.gif);
  padding-left:24px;
  min-height:14px;
}
.lock.butt {
  background-position:4px 2px;
  padding-left:28px;
}
.lock.icon {
  background-position:4px 2px;
  min-height:18px;
  min-width:30px;
  padding:0px;
}

.edit {
  background-image:url(../../code/img/b_edit.png);
  padding-left:18px;
  min-height:16px;
}
.edit.butt {
  background-position:4px 2px;
  padding-left:22px;
}
.edit.icon {
  background-position:4px 2px;
  min-height:20;
  min-width:24;
  padding:0px;
}

/* .record {
 **   background-image:url(../../code/img/card.png);
 *  padding-left:18px;
 *  min-height:16px;
 *}
 *.browse    { background-image:url(../../code/img/b_browse.png); }
 *.cash      { background-image:url(../../code/img/euro.small.blue.trans.gif); }
 * .people    { background-image:url(../../code/img/people.blue.trans.gif); }
 * .chart     { background-image:url(../../code/img/chart.png); }
 * .question  { background-image:url(../../code/img/question_small.png); }
*/

.uparrow   {
  background-image:url(../../code/img/sort.up.trans.gif);
}
.downarrow {
  background-image:url(../../code/img/sort.down.trans.gif);
}
.uparrow.butt, .downarrow.butt {
  background-position:4px 4px;
  padding-left:16px;
  min-height:8px;
  min-width:10px;
}
.uparrow.icon, .downarrow.icon {
  padding:0px;
  background-position:5px 5px;
  min-height:20px;
  min-width:20px;
}

.plus {
  background-image:url(../../code/img/plus.small.blue.trans.gif);
}
.equal {
  background-image:url(../../code/img/equal.small.blue.trans.gif);
}
.plus.butt, .equal.butt {
  padding-left:22px;
  background-position:4px 4px;
  min-height:16px;
  min-width:16px;
}
.plus.icon, .equal.icon {
  padding:0px;
  background-position:4px 4px;
  min-height:20px;
  min-width:20px;
}

.fant {
  background-image:url(../../code/img/fant.trans.gif);
  padding-left:34px;
  min-height:20px;
}
a.fant:hover {
  background-image:url(../../code/img/fant.over.trans.gif);
}

.file {
  background-image:url(../../code/img/file.ppblue.trans.gif);
  padding-left:15px;
  min-height:15px; /* needed with small fonts */
}
a.file:hover {
  background-image:url(../../code/img/file.ppblue.over.trans.gif);
}


.brokenlink { padding:0px 6px 0px 6px; }



.open {
  background-image:url(../../code/img/open_black.gif);
  background-repeat:no-repeat;
  background-position:0px 0px;
  /* padding:0px 0px 0px 15px; */
  padding-left:15px;
  min-width:15px;
}
