
/* top-level layout: we assume the following:
 *
 *   +-----------------------------+
 *   |          header             |
 *   +-----------------------------+
 *   | +-----+  outback            |
 *   | |side-|   +---------------+ |
 *   | | nav |   |               | |
 *   | |(opti|   |  payload      | |
 *   | |onal)|   |               | |
 *   | |     |   +---------------+ |
 *   | +-----+                     |
 *   +-----------------------------+
 *   |          footer             |
 *   +-----------------------------+
 *
 * where header, sidenav, outback and footer are position:fixed; and outback may get scrollbars
 */

div#theHeader {
  position:static; /* for the time being, to ensure compatibility - will be changed from js later */
  top:0px;
  left:0px;
  width:100%;
  padding:0px !important;
  margin:0px !important;
  overflow:visible; /* required for dropdowns from header */
  z-index:30;
}
.debug div#theHeader {
  outline:6px solid #0000ff !important;
}

div#theOutback {
  position:static;
  left:0px;
  width:100%;
  padding:0px !important;
  margin:0px !important;
  overflow-y:auto;
  overflow-x:auto;
  vertical-align:top;
  z-index:20;
}
.debug div#theOutback {
  outline:6px solid #00ff00 !important;
}

div#theSidenav {
  position:static;
  display:inline-block;
  top:0px;
  left:0px;
  margin:0px 24px 24px 0px;
  padding:0px;
  overflow:visible;
  z-index:20;
}
.debug div#theSidenav {
  outline:6px solid #cc00cc !important;
}

div#thePayload {
  position:static;
  padding:24px;
  display:inline-block;
  vertical-align:top;
  overflow:visible;
  z-index:10;
}
.debug div#thePayload {
  outline:6px solid #00cccc !important;
}

div#theFooter {
  position:static;
  bottom:0px;
  left:0px;
  width:100%;
  padding:0px !important;
  margin:0px;
  overflow:hidden;
  border-style:solid none none none;
  border-width:1px;
  border-color:#000000;
  z-index:10;
}
.debug div#theFooter {
  outline:6px solid #ff0000 !important;
}

@media print {
  /* printing scrollbars is not very useful ;-) */
  div#theOutback {
    position:static !important;
    overflow-y:visible !important;
    overflow-x:visible !important;
  }
  div#theHeader, div#theFooter {
    position:static !important;
    display:none !important;
  }
}


div#theHeader .banner {
  font-weight:bold;
  font-family:sans-serif;
  white-space:nowrap;
  overflow:hidden;
}


ul.mainmenu {
  border:1px solid #888888;
  padding:1ex;
}

ul.mainmenu > li {
  list-style-type:none;
}


div.debugbox {
  border:2px solid red;
  padding:4px;
  overflow:scroll;
  max-height:200px;
}
  

