
 * top-level layout: we assume the following:
 *
 *   +-----------------------------+
 *   |          header             |
 *   +-----------------------------+
 *   | +-----+  outbacks           |
 *   | |side-|   +---------------+ |
 *   | | nav |   |               | |
 *   | |(opti|   |  payload      | |
 *   | |onal)|   |               | |
 *   | |     |   +---------------+ |
 *   | +-----+                     |
 *   +-----------------------------+
 *   |          footer             |
 *   +-----------------------------+
 *
 * where header, sidenav, outbacks and footer are position:fixed; and outbacks may get scrollbars
 */

div#theHeader {
  position:static; /* for the time being, to ensure compatibility - will be changed from js later */
  top:0px;
  left:0px;
  width:100%;
  padding:0px !important;
  margin:0px !important;
  overflow:hidden;
  z-index:10;
}
div#theHeader.debug {
  outline:6px solid #0000ff !important;
}

div#theOutbacks {
  position:static;
  left:0px;
  width:100%;
  padding:0px !important;
  margin:0px !important;
  overflow-y:auto;
  overflow-x:auto;
  vertical-align:top;
  z-index:20;
}
div#theOutbacks.debug {
  outline:6px solid #00ff00 !important;
}

div#theSidenav {
  position:static;
  display:inline-block;
  top:0px;
  left:0px;
  margin:0px 24px 24px 0px;
  padding:0px;
  overflow:visible;
  z-index:20;
}
div#theSidenav.debug {
  outline:6px solid #cc00cc !important;
}

div#thePayload {
  position:static;
  padding:24px 12px 24px 12px;
  display:inline-block;
  vertical-align:top;
  overflow:visible;
  z-index:10;
}
div#thePayload.debug {
  outline:6px solid #00cccc !important;
}

div#theFooter {
  position:static;
  bottom:0px;
  left:0px;
  width:100%;
  padding:0px !important;
  margin:0px;
  overflow:hidden;
  border-style:solid none none none;
  border-width:1px;
  border-color:#000000;
  z-index:10;
}
div#theFooter.debug {
  outline:6px solid #ff0000 !important;
}

@media print {
  /* printing scrollbars is not very useful ;-) */
  div#theOutbacks {
    position:static !important;
    overflow-y:visible !important;
    overflow-x:visible !important;
  }
  div#theHeader, div#theFooter {
    position:static !important;
    display:none !important;
  }
}


/* div#theHeader.ro {
 *   background:url(readonly.gif);
 *   background-repeat:repeat;
 * }
*/
div#theHeader .banner {
  font-weight:bold;
  font-family:sans-serif;
  white-space:nowrap;
  overflow:hidden;
}


ul.mainmenu {
  border:1px solid #888888;
  padding:1ex;
}

ul.mainmenu > li {
  list-style-type:none;
}



