
/*
 * headings
 *
 */

h1, h2, h3, h4 {
  color:#000000;
  margin: 0pt 0pt 1em 0pt;
}

h1 { padding: 5px; font-size:150%; }
h2 { padding: 3px; font-size:130%; }
h3 { padding: 2px; font-size:115%; }
h4 { padding: 1px; font-size:100%; }


address > p {
  padding:0.2ex 2em 0.2ex 2em;
  margin:0px;
}

/*
 * menus
 */
 
/* horizontal menu row (for main menu in window header) */

div#theHeader ul#menurow {
  display:inline;
  line-height:3ex;
  margin:0pt 0pt 0.5ex 0pt;
  padding:2px 5px 0px 5px;
}

ul#menurow li {
  color:white;
  display:inline;
  list-style-type: none;
  border-left: 1px dotted white;
  font-weight: bold;
  white-space:nowrap;
  margin:0pt;
  padding:0pt;
}

ul#menurow li a, ul#menu li span {
  padding: 2px 8px 0px 8px;
  color: white;
  text-decoration: none;
}
ul#menurow li span.inactive {
  background:#e01010;
  color:#cccccc;
}
ul#menurow li a:hover {
  background: white;
  color: #608080;
}
ul#menurow li a.wikilink {
  margin-left:2em;
}

/* menubox - for option checkboxes and filters */

.menubox {
  display:inline-block;
  margin:1ex 1ex 2ex 0ex;
  border:1px solid #aaaaaa;
}
.menubox > .table {
  display:block;
  width:100%;
  margin:0px;
}
.menubox > .table > .tbody > .tr > .td {
  border:1px dotted #aaaaaa;
  padding:0.5ex;
  border-bottom-style:none;
}
.menubox > .table.actions > .tbody > .tr > .td {
  text-align:center;
}
.menubox > .table > .caption, .menubox > div.th {
  padding:0.8ex 1em 0.8ex 1em;
  text-align:center;
  font-weight:bold;
  border-top:1px solid #aaaaaa !important;
}

/*
 * tables
 *
 */

/*
 * table.list: default style for large tables:
 */

table.list > caption {
  padding:1px 1em 1px 1em;
  text-align:center;
  border:1px dotted #404040;
  background-color:#dddddd;
}

table.list > tbody > tr > td, table.list > tbody > tr > th {
  border:1px dotted #404040;
  padding: 0.4ex 1ex 0.4ex 1ex;
}
table.list > tbody > tr > th {
  text-align:center;
  background-color:#d0d0d0;
}
table.list > tbody > tr.sum > td {
  border-top-style:solid;
  border-bottom-style:solid;
  font-weight:bold;
}
table.list > tbody > tr.trselected > td {
  outline:3px solid #f0f0f0;
}
table.list > tbody > tr.trselectable:hover > td {
  outline:3px dashed #ffffff;
}
/* shade odd numbered rows: */

table.list > tbody > tr.odd > td {
  background-color:#dddddd;
}
table.list > tbody > tr.even > td {
  background-color:#ffffff;
}

/* column headers to indicate sort keys */

th.sort_up_1 {
  background-image:url(../../code/img/sort.up.trans.gif);
}
th.sort_down_1 {
  background-image:url(../../code/img/sort.down.trans.gif);
}
th.sort_up_2 {
  background-image:url(../../code/img/sort.up.2.trans.gif);
}
th.sort_down_2 {
  background-image:url(../../code/img/sort.down.2.trans.gif);
}
th.sort_up_3 {
  background-image:url(../../code/img/sort.up.3.trans.gif);
}
th.sort_down_3 {
  background-image:url(../../code/img/sort.down.3.trans.gif);
}
th.sort_up_1, th.sort_down_1, th.sort_up_2, th.sort_down_2, th.sort_up_3, th.sort_down_3 {
  background-repeat:no-repeat;
  background-position:1px 1px;
  padding-left:11px !important;
}

.debug span, .debug div, .debug fieldset, .debug td, .debug th {
  outline:1px dotted black !important;
}

table.tight {
  width:100% !important;
}
td.tight, th.tight, div.tight, span.tight {
  padding:0pt !important;
  margin:0pt !important;
}

/* special column and row types: */

.number {
  white-space:nowrap !important;
  text-align:right !important;
}

td.mult, td.mult input {
  white-space:nowrap !important;
  text-align:right !important;
  border-right-style:none !important;
  margin-right:0pt !important;
  padding-right:0.2ex !important;
}
td.unit {
  white-space:nowrap !important;
  text-align:left !important;
  border-left-style:none !important;
  margin-left:0pt !important;
  padding-left:0.2ex !important;
}



/* groupofrows: simulate rowspan */

/*
 * td.groupofrows_top, th.groupofrows_top {
 *   border-bottom-style:none;
 * }
 * td.groupofrows_middle, th.groupofrows_middle {
 *   padding-top:0pt;
 *   padding-bottom:0pt;
 *   margin-top:0pt;
 *   margin-bottom:0pt;
 *   height:0pt;
 *   border-top-style:none;
 *   border-bottom-style:none;
 * }
 * td.groupofrows_bottom, th.groupofrows_bottom {
 *   padding-top:0pt;
 *   margin-top:0pt;
 *   padding-bottom:0pt;
 *   margin-bottom:0pt;
 *   height:0pt;
 *   border-top-style:none;
 * }
*/




/*
 * lists
 */

ul {
  padding:0px 1ex 0px 1em;
  margin:0px;
}
ul.plain {
  list-style-type:none;
}
li {
  margin-top:5px;
  margin-bottom:5px;
}

/* inner lists (e.g. inside table cells) */

ul.inner {
  padding:0pt 0pt 0pt 1.5em;
  margin:0pt;
  list-style-type:square;
}
ul.inner > li {
  margin: 0.5ex 0ex 0.5ex 0ex;
}


/* link lists - keep them short */
ul.listoflinks li.link {
  list-style:none inside;
  display:inline;
}




/*
 *
 *  formulare, formulare...
 *
*/


fieldset, .fieldset { /* outermost fieldset: a complete form */
  margin:1ex;
  border-style:solid;
  border-color:#404040;
  border-width:1px;
  padding:1ex;
}
fieldset > legend {
  font-weight:bold;
  background-color:#f0f0ff;
  color:#000000;
  padding:0.2ex 1ex 0.2ex 1ex;
  border:solid 1px #404040;
}
fieldset fieldset { /* second level - for structuring forms */
  margin:1ex;
  border-style:none;
  border-top-style:solid;
  border-color:#404040;
  border-width:1px;
  padding:1ex 1ex 2ex 2ex;
}
fieldset fieldset > legend {
  font-weight:bold;
  color:#000000;
  padding:0.2ex 1ex 0.2ex 1ex;
  border-style:none;
}

fieldset fieldset fieldset {
  border-style:none;
  padding:0ex 0ex 1ex 0ex;
}
fieldset fieldset fieldset.solidtop {
  border-top-style:solid;
  padding-top:1ex;
}


fieldset.table > .tbody > .tr > .td, .table.fieldset {
  padding:0.5ex 0.5ex 0.5ex 1ex;
}
fieldset.table > .tbody > .tr > .td.th {
  background-color:#b0d0c0;
  padding:0.3ex 0.6ex 0.2ex 0.6ex;
  border-top:dotted 1px #404040;
  border-left:dotted 1px #404040;
  border-right:dotted 1px #404040;
  border-bottom:solid 1px #404040;
}

fieldset.table > .tbody > .tr > .th + .th {
  border-left:solid 1px #404040;
}


fieldset.line {  /* lowest level: for one input field, or several on same line */
  display:block;
  /* border:1px solid green; */
  border-style:none;
  padding:0.5ex 0ex 0ex 0ex;
  margin:1ex 0ex 1ex 0ex;
}
fieldset.line > * {
  margin:0ex 0ex 0ex 1ex;
}
fieldset.line > legend {
  padding:0ex 0ex 0ex 0ex;
  /* border:1px solid red; */
  margin:0ex;
}

fieldset.line > fieldset.subline {
  display:inline-block;
  padding:0.5ex 1em 0.5ex 2em;
}
fieldset.line > fieldset.subline > legend {
  padding:0ex;
}


/*
 * input fields
 */

input, textarea {
  font-family:sans-serif,monospace;
  font-weight:600;
  background-color:#e8e8f8;
  color:#000060;
  border:1px solid #808080;
  padding:0.3ex 0.8ex 0.3ex 0.6ex;
}

input:hover, input:focus, textarea:hover, select:hover {
  background-color:#f0f0ff;
}

kbd, .kbd {
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#000080;
}

.kommentar {
  padding:1ex 4em 1ex 4em;
  color:#2020a0;
  font-size:smaller;
  font-style:italic;
}


.specialcase {
  color:#800000;
  text-decoration:none;
  font-weight:bold;
}


/*  warnings, alerts and oks */

.warn {
  background-color:#f08080;
  color:#000000;
  font-weight:bold;
}
div.warn {
  display:block !important;
}

.alert {
  background-color:#ffffa0;
  color:#a00000;
  font-weight:bold;
}
.ok {
  background-color:#ccffcc;
  color:#000000;
}
div.alert, span.alert, div.warn, span.warn, div.ok, span.ok {
  padding-top:2px;
  padding-bottom:2px;
}

div.problem, label.problem, .label.problem {
  color:#ff0000;
  font-weight:bold;
  text-decoration:underline;
}
div.problem {
  background-color:#ffffa0;
}
input.problem, .input.problem, select.problem, textarea.problem {
  outline:2px solid red !important;
}

/* fieldset.new .label, fieldset.new .label.problem {
 *  font-weight:bold;
 * color:#800000;
 * }
*/
fieldset.old .modified {
  font-weight:bold;
  color:#000080;
}



/*
 *
 *  link color (all other link-related css is generic.css
 *
 */

a, .href {
  color:#101060;
}

.button, .button:visited {
  background-color:#b0c0ff;
  color:#000000;
}
.button.head {
  background-color:#eeeeff;
}

a.button:hover, a.icon:hover {
  background-color:#bbccff;
}

