
/*
 *
 * corporate color scheme
 *
*/

.corporatecolor, h1 {
  color:#<? echo $ccolor; ?>;
}
.corporatebackground {
  background-color:#<? echo $ccolor; ?>;
}
.corporateborder {
  border-color:#<? echo $ccolor; ?>;
}



/* 
 *
 * layout elements
 *
*/

img#fakbanner, img#instbanner {
  opacity:1.0;
}

div#theHeader {
  height:120px;
}

div#theOutback {
  position:fixed;
  top:120px;
  left:0px;
}

div#theSidenav {
  position:fixed;
  top:100px;
  left:0px;
  width:260px;
}

div#theFooter {
  height:32px;
}




/* second-level layout */

div#theLeftLogo {
  position:absolute;
  top:0px;
  left:0px;
  width:260px;
  height:100px;
  margin:0px !important;
  padding:0px !important;
  overflow:visible;
}

div#theFaknav {
  position:absolute;
  top:0px;
  left:260px;
  /* width:100%; */
  height:100px;
  margin:0px !important;
  padding:0px 0px 0px 0px !important;
  overflow:hidden;
}
div#unileiste {
  text-align:left; 
  padding:0px 24px 0px 24px;
  margin:0px;
  background-color:#<? echo $cmenu1; ?>;
  display:block;
  height:24px;
  padding-top:4px;
}
div#unileiste a.href {
  color:#ffffff;
  background-color:#<? echo $cmenu1; ?>;
  background-image:url(/code/img/block.white.gif);
  background-repeat:no-repeat;
  background-position:0px 0px;
  padding:4px 0px 0px 24px;
}
div#bannerFakultaet, div#bannerInstitut {
  padding-left:24;
  padding-top:8px;
}
div#bannerFakultaet a, div#bannerInstitut {
  color:#<? echo $ccolor; ?>;
}

div#theUninav {
  position:fixed;
  z-index:30;
  top:0px;
  right:0px;
  width:104px;
  height:104px;
  margin:0px !important;
  padding:8px !important;
  overflow:visible;
  background:white;
}





#theSidenav .menupane {
  color:#ffffff;
  /* padding:2px 4px 3px 4px; */
  padding:0pt;
  margin:0pt;
}
#theSidenav .menupane.level1 {
  padding-bottom:4px;
}
#theSidenav div.menuentry .a, #theSidenav div.menuentry a:visited {
  text-decoration:none;
  color:#ffffff;
  font-weight:bold;
}
#theSidenav div.menuentry a:hover {
  text-decoration:underline;
  color:ffffff;
}

#theSidenav div.menuentry.level1 {
  /* background-color:#202080; */
  /* color:#e0e0ff; */
  background-color:#<? echo $cmenu1; ?>;
  background-image:url(/code/img/block.white.gif);
  background-repeat:no-repeat;
  background-position:0px 2px;
  padding:5px 0px 4px 24px;
  border-top:1px solid white;
}
#theSidenav div.menuentry.level1.script.sub {
  background-color:#<? echo $cmenu3; ?>;
}
#theSidenav div.menuentry.level1.script.nosub, #theSidenav div.menuentry.level1.parent {
  /* color:#e0e0ff; */
  background-color:#<? echo $cmenu2; ?>;
}

#theSidenav div.menuentry.level2 {
  padding:2px 0px 2px 26px;
  font-size:85%;
  background:#<? echo $cmenu2; ?> url(/code/img/gt.white.gif) left top no-repeat;
  background-position:6px -3px;
  background-repeat:no-repeat;
}
#theSidenav div.menuentry.level2.script { /* , #theSidenav div.menuentry.level2.nosub { */
  /* color:#ffffff; */
  background-color:#<? echo $cmenu3; ?>;
}

#theSidenav div.menuentry.level3 {
  padding:2px 0px 2px 38px;
  font-size:85%;
  /* color:#ffffff; */
  background:#<? echo $cmenu2; ?> url(/code/img/ggt.white.gif) no-repeat;
  background-position:14px -3px;
  background-repeat:no-repeat;
}
#theSidenav div.menuentry.level3.script {
  /* color:#ffffff; */
  background-color:#<? echo $cmenu3; ?>;
}


#theSidenav .links {
  padding:6px 0px 6px 12px;
}
#theSidenav .links, #theSidenav .links a {
  color:#<? echo $cmenu1; ?>;
}

/*
 * #theSidenav #languageLinks a {
 *   color:#<? echo $cmenu1; ?>;
 *   background-color:#ffffff;
 *   background-image:url(../../code/img/il.gif);
 *   background-repeat:no-repeat;
 *   background-position:0px 4px;
 *   padding-left:13px !important;
 * }
 * #theSidenav #languageLinks span.inactive {
 *   background-color:#ffffff;
 *   background-image:url(../../code/img/check.yes.small.grey.trans.gif);
 *   background-repeat:no-repeat;
 *   background-position:0px 4px;
 *   padding-left:13px !important;
 *   color:#a0a0a0;
 * }
*/

#theSidenav address {
  padding:12px 0px 12px 4px;
  margin:0px;
  font-style:normal;
}
#theSidenav address > p {
  padding:1px 0px 1px 24px;
  color:#<? echo $cmenu1; ?>;
  margin:0px;
}
#theSidenav address p.header {
  padding:0px 0px 0px 4px;
  color:#<? echo $ccolor; ?>;
  margin-bottom:8px;
  border-width:0px;
  border-left-width:20px;
  border-style:solid;
  border-color:#<? echo $ccolor; ?>;
  font-size:120%;
  font-weight:bold;
}




div#thePayload {
  /* position is absolute
   * left edge of payload text:
   * 8px (padding outback) + 252 (offset payload ) + 24 (padding payload) = 284 from window boundary
  */
  /* background-color:#daeaf2; */
  left:260px;
  top:0px;
  background-color:#ffffff;
  min-width:600px;
  min-height:320px;
  z-index:99;
  overflow:visible !important;
  padding-top:0px;
}

/*
 * div#theOutback div.lower1 {
 *   background-color:#ccd2ee;
 *   border:1px solid #9999aa;
 * }
 * div#theOutback div.lower2 {
 *   background-color:#bbc1dd;
 *   border:1px solid #888899;
 * }
 * div#theOutback div.lower3 {
 *   background-color:#aab0cc;
 *   border:1px solid #777788;
 * }
 * div#theOutback div.lower4 {
 *   background-color:#999fbb;
 *   border:1px solid #666677;
 * }
 * 
 * /*
 * div#theOutback div.off0 {
 *   position:absolute;
 *   top:8px;
 *   left:268px;
 *   z-index:1;
 *   min-width:600px;
 *   min-height:320px;
 * }
 * div#theOutback div.off1 {
 *   position:absolute;
 *   top:30;
 *   left:292;
 *   z-index:2;
 *   min-width:600px;
 *   min-height:320px;
 * }
 * div#theOutback div.off2 {
 *   position:absolute;
 *   top:52;
 *   left:316;
 *   z-index:3;
 *   min-width:600px;
 *   min-height:320px;
 * }
 * div#theOutback div.off3 {
 *   position:absolute;
 *   top:74;
 *   left:340;
 *   z-index:4;
 *   min-width:600px;
 *   min-height:320px;
 * }
 * 
 * div.titlebar {
 *   font-weight:bold;
 *   padding:2pt 8pt 2pt 8pt;
 * }
 * div#thePayload div.titlebar {
 *   font-size:larger;
 *   padding-bottom:6px;
 *   border-bottom:1px solid #aaaabb;
 * }
*/


/* 
 *
 * payload and general
 *
*/



h1, h2, h3, h4 {
  color:#000000;
  padding:0pt;
}

h1 { margin: 14px 0px 14px 0px; font-size:160%; }
h2 { margin: 14px 0px 12px 0px; font-size:140%; }
h3 { margin: 12px 0px 8px 0px; font-size:120%; }
h4 { margin: 8px 0px 4px 0px; font-size:100%; }

div#thePayload > h1:first-child {
  margin-top:0px;
}


#thePayload address > p {
  padding:2px 0px 2px 12px;
  margin:0px;
}

#thePayload div.p {
  padding:0.5ex 1em 0.5ex 0em;
}

#thePayload div.p div.item {
  padding:0.5ex 0em 0ex 1em;
  margin:0px;
}
#thePayload div.p div.item.headline {
  font-weight:bold;
  padding:0.5ex 0em 0.5ex 0em;
}

/* menubox - for option checkboxes and filters */

.menubox {
  display:inline-block;
  margin:1ex 1ex 2ex 0ex;
  border:1px solid #aaaaaa;
}
.menubox > .table {
  display:block;
  width:100%;
  margin:0px;
}
.menubox > .table > .tbody > .tr > .td {
  border:1px dotted #aaaaaa;
  padding:0.5ex;
  border-bottom-style:none;
}
.menubox > .table.actions > .tbody > .tr > .td {
  text-align:center;
}
.menubox > .table > .caption, .menubox > div.th {
  padding:0.8ex 1em 0.8ex 1em;
  text-align:center;
  font-weight:bold;
  border-top:1px solid #aaaaaa !important;
}

/*
 * tables
 *
 */

/*
 * table.list: default style for large tables:
 */

table.list > caption {
  border:1px solid #<? echo $cmenu1; ?>;
  padding:1px 1em 1px 1em;
  text-align:center;
  background-color:#dddddd;
}

table.list > tbody > tr > td, table.list > tbody > tr > th {
  border:1px solid #<? echo $cmenu1; ?>;
  padding: 0.4ex 1ex 0.4ex 1ex;
}
table.list > tbody > tr > th {
  text-align:center;
  background-color:#d0d0d0;
}
table.list > tbody > tr.sum > td {
  border-top-width:2px;
  border-bottom-width:2px;
  font-weight:bold;
}
table.list > tbody > tr.trselected > td {
  outline:3px solid #f0f0f0;
}
table.list > tbody > tr.trselectable:hover > td {
  outline:3px dashed #ffffff;
}
/* shade odd numbered rows: */

table.list > tbody > tr.odd > td {
  background-color:#dddddd;
}
table.list > tbody > tr.even > td {
  background-color:#ffffff;
}

/* column headers to indicate sort keys */

th.sort_up_1 {
  background-image:url(../../code/img/sort.up.trans.gif);
}
th.sort_down_1 {
  background-image:url(../../code/img/sort.down.trans.gif);
}
th.sort_up_2 {
  background-image:url(../../code/img/sort.up.2.trans.gif);
}
th.sort_down_2 {
  background-image:url(../../code/img/sort.down.2.trans.gif);
}
th.sort_up_3 {
  background-image:url(../../code/img/sort.up.3.trans.gif);
}
th.sort_down_3 {
  background-image:url(../../code/img/sort.down.3.trans.gif);
}
th.sort_up_1, th.sort_down_1, th.sort_up_2, th.sort_down_2, th.sort_up_3, th.sort_down_3 {
  background-repeat:no-repeat;
  background-position:2px 2px;
  padding-left:14px !important;
}

.debug td, .debug th, .debug div {
  outline:1px dotted black !important;
}

table.tight, div.tight {
  width:100% !important;
}
td.tight, th.tight, div.tight, span.tight {
  padding:0pt !important;
  margin:0pt !important;
}

/* menu (fake) tables */

.menu > .table > .tbody > .tr > .td, .table.menu > .tbody > .tr > .td {
  border:1px dotted #<? echo $cmenu1; ?>;
  padding:0.6ex;
  border-bottom-style:none;
}
.menu {
  display:inline-block;
  margin-bottom:1em;
  border:1px solid #<? echo $cmenu1; ?>;
}
.menu > .table > .caption, .menu > div.th {
  padding:0.8ex 1em 0.6ex 1em;
  border:1px solid #<? echo $cmenu1; ?>;
  border-bottom-style:none;
}



/* special column and row types: */

.number {
  white-space:nowrap !important;
  text-align:right !important;
}

td.mult, td.mult input {
  white-space:nowrap !important;
  text-align:right !important;
  border-right-style:none !important;
  margin-right:0pt !important;
  padding-right:0.2ex !important;
}
td.unit {
  white-space:nowrap !important;
  text-align:left !important;
  border-left-style:none !important;
  margin-left:0pt !important;
  padding-left:0.2ex !important;
}



/*
 * lists
 */

ul {
  padding:0px 1ex 0px 1em;
  margin:0px;
}
ul.plain {
  list-style-type:none;
}
ul.noindent {
  padding-left:0pt;
}
li {
  margin-top:5px;
  margin-bottom:5px;
}

ul.downloadOptions {
  list-style-type:none;
  display:inline;
}
ul.downloadOptions > li {
  /* font-size:smaller; */
  padding:0px 0.8ex 0px 0px;
  display:inline;
  margin:0px;
}

/* inner lists (e.g. inside table cells) */

ul.inner {
  padding:0pt 0pt 0pt 1.5em;
  margin:0pt;
  list-style-type:square;
}
ul.inner > li {
  margin: 0.5ex 0ex 0.5ex 0ex;
}


/* link lists - keep them short */
ul.listoflinks li.link {
  list-style:none inside;
  display:inline;
}




/*
 *
 *  formulare, formulare...
 *
*/


/*
 * forms and input fields
 */

input, textarea { 
  font-family:sans-serif,monospace;
  font-weight:600;
  background-color:#e8e8f8;
  color:#000080;
  border:1px solid #808080;
/*  margin:0.3ex; */
  padding:0.3ex 0.8ex 0.3ex 0.6ex;
}

input:hover, input:focus, textarea:hover, select:hover {
  background-color:#f0f0ff;
}

kbd, .kbd {
  font-family:arial,sans-serif;
  font-weight:bold;
  color:#000080;
}

.kommentar {
  padding-top:1em;
  padding-bottom:1em;
  padding-left:4em;
  padding-right:4em;
  color:#4040a0;
  font-size:smaller;
}

.specialcase {
  color:#800000;
  text-decoration:none;
  font-weight:bold;
}


/*  warnings, alerts and oks */

.warn, .warn th, .warn td, .warn div, .warn span {
  background-color:#f08080;
  color:#000000;
  font-weight:bold;
}
div.warn {
  display:block !important;
}

.alert, .alert th, .alert td, .alert div, .alert span {
  background-color:#ffffa0;
  color:#a00000;
  font-weight:bold;
}
.ok, .ok th, .ok td, .ok div, .ok span {
  background-color:#ccffcc;
  color:#000000;
}
div.alert, span.alert, div.warn, span.warn, div.ok, span.ok {
  padding-top:2px;
  padding-bottom:2px;
}

label.problem, .label.problem {
  color:#ff0000;
  font-weight:bold;
  text-decoration:underline;
}
input.problem, .input.problem, select.problem, textarea.problem {
  outline:2px solid red !important;
}

/* fieldset.new .label, fieldset.new .label.problem {
  font-weight:bold;
  color:#800000;
}
*/
fieldset.old .kbd.modified, fieldset.old .label.modified {
  font-weight:bold;
  color:#000080;
}







span.radiooption {
  padding-right:1em;
}

span.checkbox {
  margin-right:2em;
}



div#tickerbox {
  border:1px solid #<?php echo $ccolor; ?>;
  /* background-color:#ffffa0; */
  display:inline-block;
  padding:1ex 2em 1ex 2em;
}
div#tickerbox > h2 {
  padding-top:0ex;
  margin-top:0ex;
}
div#tickerbox div.ticker {
 text-align:center;
 padding:4px 36px 4px 36px;
}


