
.photo {
  display:inline-block;
}
.photo > span.photocaption {
  text-align:right;
  font-size:smaller;
  display:block;
}
.photo > img, .photo > a > img {
  display:block;
  max-width:240px;
  max-height:240px;
}

.hugemenu .photo > img {
  display:block;
  max-width:360px;
  min-width:360px;
  max-height:240px;
  min-height:240px;
}

.hugemenu > a {
  margin-right:2em;
}

.level1photo .photo > img {
  min-width:320px;
  max-width:320px;
  min-height:175px;
  max-height:175px;
}

.keyareas .photo > img {
  display:block;
  max-width:240px;
  min-width:240px;
  max-height:160px;
  min-height:160px;
}

.highlight {
  padding-top:1ex;
  padding-bottom:1ex;
}

.highlight > .cn {
  font-weight:bold;
  font-size:120%;
  padding-bottom:1.5ex;
  line-height:130%;
}

.highlight > .summary {
  margin-bottom:0.5ex;
  line-height:140%;
}
.highlight > .floatright, .textaroundphoto > .floatright {
  padding-left:3ex;
  padding-bottom:2ex;
}
.highlight .photo > img {
  max-width:240px;
  max-height:180px;
}

.highlight > ul {
  padding:0ex 1ex 1ex 1ex
}

.highlight > ul > li {
  list-style-type:none;
  display:block;
  padding:0ex 1ex 2ex 1ex;
  margin:0px;
}
  
.highlight > ul > li > span {
  display:block;
  padding:0ex 0ex 0ex 2ex;
}
.highlight > ul > li > span:first-child {
  font-weight:bold;
  padding:0ex 0ex 1ex 1ex;
}
.highlight a.href.inlink, .highlight a.href.outlink
, .reference a.href.inlink, .reference a.href.outlink {
  background-image:none;
  padding:0px 1px 0px 1px;
}


.group div.table > .tr > .td {
  padding:1ex 2ex 1ex 0ex;
  font-weight:bold;
  white-space:nowrap;
}
.group div.table {
  margin-bottom:2ex;
}
.group .photo > img {
  max-width:320px;
  max-height:240px;
}

.position div.table > .tr > .td
, .event div.table > .tr > .td {
  padding:1ex 2ex 1ex 0ex;
}
.position .photo > img {
  max-width:320px;
  max-height:240px;
}

.teaser.photo > img {
  max-width:320px;
  max-height:240px;
}

table.events > tbody > tr > td {
  padding:1ex 3ex 1ex 0ex;
}

/* model for ticker: div.tickerbox > div.tickeritem > span.tickerline */

/* this doesnt work well - can't seem to avoid line break after :before :-(
 *
 * span.tickerline:before {
 *   content:"+++";
 *   white-space:nowrap;
 *   padding-right:8em;
 * }
 * span.tickerline:after {
 *   content:"+++";
 *   white-space:nowrap;
 *   padding-left:8em;
 * }
*/
div.tickeritem {
  text-align:center;
  padding:4px 36px 4px 36px;
}

div.column {
  display:inline-block;
  margin-right:3em;
  vertical-align:top;
}

ul.linklist > li {
  margin-top:4px;
  margin-bottom:4px;
}

